<app-header></app-header>
<div class="botonera">

        <button mat-button (click)="agregarTurnos()">AGREGAR TURNOS</button>

        <button mat-button (click)="verTurnos()">VER TURNOS </button>
        </div>

        <div *ngIf="mostrarTurnos" class="h">
                <br>
            <h1 text-center>CARGAR TURNO</h1>
            <input type="datetime-local" min="{{this.fechaActual | date:'yyyy-MM-ddTHH:mm:ss'}}"
            max="{{this.fechaMax | date:'yyyy-MM-ddTHH:mm:ss'}}"
            step=60000
            name="fecha" [(ngModel)]=fechaSelect (change)="fechaSeleccionada()" >
            <h2 class="h">{{this.mensajeFecha}}</h2>
            <h2 class="h">Seleccione el profesional que solicita</h2>
            <select [(ngModel)]=profSelected>
                <option></option>
                <option *ngFor="let profes of arrayProfesionales"
               >{{profes.nombre}} {{profes.apellido}} ---- {{profes.especialidad}}----:{{profes.idauth}} 
            </option>
        </select> 
           
            <h2 class="h">Seleccione el Cliente</h2>
            <select [(ngModel)]=ClienteSelected>
                <option></option>
                <option *ngFor="let cli of arrayClientes">
                    {{cli.nombre}} {{cli.apellido}} ---------:{{cli.idauth}}
            </option> 
        </select> 
        <br>
        <button class="boton" *ngIf="this.pedirTurno && profSelected!=undefinded && profSelected!='' && this.ClienteSelected!=undeined && this.ClienteSelected != ''" (click)= "solicitarTurno()">PEDIR TURNO</button>
        <h2 class="h">{{this.mensaje}}</h2>
    </div> 
            
    <div *ngIf="mostrarVerTurnos" class="h">
            <h1>Turnos Pendientes</h1>
            <div *ngFor="let turno of this.turnoJSON">
                   <h3>{{turno.fecha}} {{turno.info}}</h3> 
                   <h4>Cliente :{{turno.nombreCliente}} {{turno.apellidoCliente}}</h4>
                   <button class="botoneras" mat-button (click)="cancelarTurno(turno)">Cancelar Turno</button>
            </div>
    </div>